In [8]:
import pandas as pd

In [19]:
import pandas as pd

names = ['a', 'b', 'c', 'd'] * 7
dates = ['2017-01-11', '2017-01-08', '2017-01-14', '2017-01-05', '2017-01-10', '2017-01-13', '2017-01-02', '2017-01-12', '2017-01-10', '2017-01-05', '2017-01-01', '2017-01-04', '2017-01-11', '2017-01-14', '2017-01-05', '2017-01-06', '2017-01-14', '2017-01-11', '2017-01-06', '2017-01-05', '2017-01-08', '2017-01-10', '2017-01-07', '2017-01-04', '2017-01-02', '2017-01-04', '2017-01-01', '2017-01-12']
dates = [pd.to_datetime(i).date() for i in dates]
numbers = [4, 3, 2, 1 ] * 7
data = {'name': names , 'date': dates, 'number': numbers}

df = pd.DataFrame(data)

df

   name        date  number
0     a  2017-01-11       4
1     b  2017-01-08       3
2     c  2017-01-14       2
3     d  2017-01-05       1
4     a  2017-01-10       4
5     b  2017-01-13       3
6     c  2017-01-02       2
7     d  2017-01-12       1
8     a  2017-01-10       4
9     b  2017-01-05       3
10    c  2017-01-01       2
11    d  2017-01-04       1
12    a  2017-01-11       4
13    b  2017-01-14       3
14    c  2017-01-05       2
15    d  2017-01-06       1
16    a  2017-01-14       4
17    b  2017-01-11       3
18    c  2017-01-06       2
19    d  2017-01-05       1
20    a  2017-01-08       4
21    b  2017-01-10       3
22    c  2017-01-07       2
23    d  2017-01-04       1
24    a  2017-01-02       4
25    b  2017-01-04       3
26    c  2017-01-01       2
27    d  2017-01-12       1

In [11]:
df.set_index([df.index, df.date], inplace=True)

In [17]:
pd.pivot_table(data=df, columns=pd.Grouper(freq='7d', level='date', closed='left') , index='name', aggfunc=sum)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [20]:
df.groupby(['name', 'date'])['number'].sum().unstack()

date,2017-01-01,2017-01-02,2017-01-04,2017-01-05,2017-01-06,2017-01-07,2017-01-08,2017-01-10,2017-01-11,2017-01-12,2017-01-13,2017-01-14
name,,,,,,,,,,,,
a,NaN,4.0,NaN,NaN,NaN,NaN,4.0,8.0,8.0,NaN,NaN,4.0
b,NaN,NaN,3.0,3.0,NaN,NaN,3.0,3.0,3.0,NaN,3.0,3.0
c,4.0,2.0,NaN,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0
d,NaN,NaN,2.0,2.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN